<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BMI Calculator (Angular)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bmiCalculatorAngularApp">
    <div class="container-fluid">
      <header class="page-header text-center">
        <h1 class="clearfix">
          <span class="pull-left">Body mass index (BMI)</span>
          <small class="pull-right">A measure of body fat in adults</small>
        </h1>
      </header>
      <main ng-controller="MainCtrl as mainCtrl">
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Form</h2>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" name="form" ng-submit="mainCtrl.saveBMI(mainCtrl.model)">
                  <div
                    class="form-group"
                    ng-class="mainCtrl.getHelpBlock(form.mode.$error).className"
                  >
                    <div class="col-sm-6">
                      <div class="radio">
                        <label>
                          <input
                            name="mode"
                            ng-model="mainCtrl.model.mode"
                            required="mainCtrl.isMode('standard')"
                            type="radio"
                            value="standard"
                          >
                          Standard
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="radio">
                        <label>
                          <input
                            name="mode"
                            ng-model="mainCtrl.model.mode"
                            required="mainCtrl.isMode('metric')"
                            type="radio"
                            value="metric"
                          >
                          Metric
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                <span
                  class="help-block"
                  ng-bind="mainCtrl.getHelpBlock(form.mode.$error).msg"
                  ng-show="mainCtrl.showHelpBlock(form.mode.$error)"
                >
                </span>
                    </div>
                  </div>
                  <ng-form name="standard" ng-show="mainCtrl.isMode('standard')">
                    <div
                      class="form-group"
                      ng-class="mainCtrl.getHelpBlock(form.standard.lb.$error).className"
                    >
                      <label class="col-sm-2 control-label pull-right" for="lb">lb</label>
                      <div class="col-sm-10 pull-left">
                        <input
                          class="form-control"
                          id="lb"
                          name="lb"
                          ng-model="mainCtrl.model.lb"
                          ng-pattern="/^[0-9]{1,7}$/"
                          placeholder="e.g., 175"
                          ng-required="mainCtrl.isMode('standard')"
                          type="number"
                        >
                        <span
                          class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.standard.lb.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.standard.lb.$error)"
                        >
                  </span>
                      </div>
                    </div>
                    <div
                      class="form-group"
                      ng-class="mainCtrl.getHelpBlock(form.standard.ft.$error).className"
                    >
                      <label class="col-sm-2 control-label pull-right" for="ft">ft</label>
                      <div class="col-sm-10 pull-left">
                        <input
                          class="form-control"
                          id="ft"
                          name="ft"
                          ng-pattern="/^[0-9]{1,7}$/"
                          ng-model="mainCtrl.model.ft"
                          placeholder="e.g., 5"
                          ng-required="mainCtrl.isMode('standard')"
                          type="number"
                        >
                        <span
                          class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.standard.ft.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.standard.ft.$error)"
                        >
                </span>
                      </div>
                    </div>
                    <div
                      class="form-group"
                      ng-class="mainCtrl.getHelpBlock(form.standard.in.$error).className"
                    >
                      <label class="col-sm-2 control-label pull-right" for="in">in</label>
                      <div class="col-sm-10 pull-left">
                        <input
                          class="form-control"
                          id="in"
                          name="in"
                          ng-pattern="/^[0-9]{1,7}$/"
                          ng-model="mainCtrl.model.in"
                          placeholder="e.g., 8"
                          ng-required="mainCtrl.isMode('standard')"
                          type="number"
                        >
                        <span
                          class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.standard.in.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.standard.in.$error)"
                        >
                </span>
                      </div>
                    </div>
                  </ng-form>
                  <ng-form name="metric" ng-show="mainCtrl.isMode('metric')">
                    <div class="form-group" ng-class="mainCtrl.getHelpBlock(form.metric.kg.$error).className">
                      <label class="col-sm-2 control-label pull-right" for="kg">kg</label>
                      <div class="col-sm-10 pull-left">
                        <input
                          class="form-control"
                          id="kg"
                          name="kg"
                          ng-model="mainCtrl.model.kg"
                          ng-pattern="/^[0-9]{1,7}$/"
                          placeholder="e.g., 79"
                          ng-required="mainCtrl.isMode('metric')"
                          type="number"
                        >
                        <span
                          class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.metric.kg.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.metric.kg.$error)"
                        >
                </span>
                      </div>
                    </div>
                    <div class="form-group" ng-class="mainCtrl.getHelpBlock(form.metric.cm.$error).className">
                      <label class="col-sm-2 control-label pull-right" for="cm">cm</label>
                      <div class="col-sm-10 pull-left">
                        <input
                          class="form-control"
                          id="cm"
                          name="cm"
                          ng-model="mainCtrl.model.cm"
                          ng-pattern="/^[0-9]{1,7}$/"
                          placeholder="e.g., 173"
                          ng-required="mainCtrl.isMode('metric')"
                          type="number"
                        >
                        <span
                          class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.metric.cm.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.metric.cm.$error)"
                        >
                </span>
                      </div>
                    </div>
                  </ng-form>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input
                        class="btn btn-primary pull-right"
                        ng-disabled="form.$invalid"
                        type="submit"
                        value="Save"
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Item</h2>
              </div>
              <div class="panel-body">
                <dl ng-show="mainCtrl.item.bmi">
                  <dt>ID</dt>
                  <dd ng-bind="mainCtrl.item.id"></dd>
                  <dt>Date</dt>
                  <dd ng-bind="mainCtrl.item.date"></dd>
                  <dt>BMI</dt>
                  <dd ng-bind="mainCtrl.item.bmi"></dd>
                  <dt>Mode</dt>
                  <dd ng-bind="mainCtrl.item.mode"></dd>
                </dl>
                <span ng-show="!mainCtrl.item.bmi">No data</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">List</h2>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>BMI</th>
                    <th>Mode</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in mainCtrl.list | orderBy: '-date'">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.date"></td>
                    <td ng-bind="item.bmi"></td>
                    <td ng-bind="item.mode"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="text-center">
        <small>Sources: US National Institute of Health, EXTOXNET</small>
      </footer>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>
</html>
