<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BMI Calculator (Angular)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bmiCalculatorAngularApp">
    <div class="container-fluid">
      <header class="page-header text-center">
        <h1 class="clearfix">
          <span class="pull-left">Body mass index (BMI)</span>
          <small class="pull-right">A measure of body fat in adults</small>
        </h1>
      </header>
      <main ng-controller="MainCtrl as mainCtrl">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav nav-tabs">
              <li class="active">
                <a class="active" data-toggle="tab" href="#standard" ng-click="mainCtrl.changeMode('standard')">Standard</a>
              </li>
              <li>
                <a data-toggle="tab" href="#metric" ng-click="mainCtrl.changeMode('metric')">Metric</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="standard">
                <form class="form-horizontal" name="form.standard" ng-submit="mainCtrl.calculateBMI()">
                  <div
                    class="form-group"
                    ng-class="mainCtrl.getHelpBlock(form.standard.lb.$error).className"
                  >
                    <label class="col-sm-2 control-label pull-right" for="lb">lb</label>
                    <div class="col-sm-10 pull-left">
                      <input
                        class="col-sm-10 form-control"
                        id="lb"
                        name="lb"
                        ng-model="mainCtrl.modes.standard.lb"
                        ng-pattern="/^[0-9]{1,7}$/"
                        placeholder="pounds"
                        required
                        type="text"
                      >
                      <span
                        class="help-block"
                        ng-bind="mainCtrl.getHelpBlock(form.standard.lb.$error).msg"
                        ng-show="mainCtrl.showHelpBlock(form.standard.lb.$error)"
                      >
                      </span>
                    </div>
                  </div>
                  <div
                    class="form-group"
                    ng-class="mainCtrl.getHelpBlock(form.standard.ft.$error).className"
                  >
                    <label class="col-sm-2 control-label pull-right" for="ft">ft</label>
                    <div class="col-sm-10 pull-left">
                      <input
                        class="form-control"
                        id="ft"
                        name="ft"
                        ng-pattern="/^[0-9]{1,7}$/"
                        ng-model="mainCtrl.modes.standard.ft"
                        placeholder="feet"
                        required
                        type="text"
                      >
                      <span
                        class="help-block"
                          ng-bind="mainCtrl.getHelpBlock(form.standard.ft.$error).msg"
                          ng-show="mainCtrl.showHelpBlock(form.standard.ft.$error)"
                      >
                      </span>
                    </div>
                  </div>
                  <div
                    class="form-group"
                    ng-class="mainCtrl.getHelpBlock(form.standard.in.$error).className"
                  >
                    <label class="col-sm-2 control-label pull-right" for="in">in</label>
                    <div class="col-sm-10 pull-left">
                      <input
                        class="form-control"
                        id="in"
                        name="in"
                        ng-pattern="/^[0-9]{1,7}$/"
                        ng-model="mainCtrl.modes.standard.in"
                        placeholder="inches"
                        required
                        type="text"
                      >
                      <span
                        class="help-block"
                        ng-bind="mainCtrl.getHelpBlock(form.standard.in.$error).msg"
                        ng-show="mainCtrl.showHelpBlock(form.standard.in.$error)"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input
                        class="btn btn-primary"
                        ng-disabled="form.standard.$invalid"
                        type="submit"
                        value="Calculate"
                      >
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="metric">
                <form class="form-horizontal" name="form.metric" ng-submit="mainCtrl.calculateBMI()">
                  <div class="form-group" ng-class="mainCtrl.getHelpBlock(form.metric.kg.$error).className">
                    <label class="col-sm-2 control-label pull-right" for="kg">kg</label>
                    <div class="col-sm-10 pull-left">
                      <input
                        class="form-control"
                        id="kg"
                        name="kg"
                        ng-model="mainCtrl.modes.metric.kg"
                        ng-pattern="/^[0-9]{1,7}$/"
                        placeholder="kg"
                        required
                        type="text"
                      >
                      <span
                        class="help-block"
                        ng-bind="mainCtrl.getHelpBlock(form.metric.kg.$error).msg"
                        ng-show="mainCtrl.showHelpBlock(form.metric.kg.$error)"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="mainCtrl.getHelpBlock(form.metric.cm.$error).className">
                    <label class="col-sm-2 control-label pull-right" for="cm">cm</label>
                    <div class="col-sm-10 pull-left">
                      <input
                        class="form-control"
                        id="cm"
                        name="cm"
                        ng-model="mainCtrl.modes.metric.cm"
                        ng-pattern="/^[0-9]{1,7}$/"
                        placeholder="cm"
                        required
                        type="text"
                      >
                      <span
                        class="help-block"
                        ng-bind="mainCtrl.getHelpBlock(form.metric.cm.$error).msg"
                        ng-show="mainCtrl.showHelpBlock(form.metric.cm.$error)"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input class="btn btn-primary" ng-disabled="form.metric.$invalid" type="submit" value="Calculate">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="jumbotron">
              <span ng-show="mainCtrl.bmi">Your BMI is <span ng-bind="mainCtrl.bmi"></span>.</span>
              <span ng-show="!mainCtrl.bmi">Enter your vital statistics!</span>
            </div>
          </div>
          <div class="col-sm-4">
            <table class="table">
              <thead>
              <tr>
                <th>Index</th>
                <th>Date</th>
                <th>Mode</th>
                <th>BMI</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="calculation in mainCtrl.calculations">
                <td ng-bind="$index"></td>
                <td ng-bind="calculation.date"></td>
                <td ng-bind="calculation.mode"></td>
                <td ng-bind="calculation.bmi"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <footer class="text-center">
        <small>Sources: US National Institute of Health, EXTOXNET</small>
      </footer>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>
</html>
