<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BMI Calculator (Angular)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bmiCalculatorAngularApp">
    <div class="container">
      <header id="app-header">
        <h1>
          Body mass index (BMI)<br>
          <small>A measure of body fat in adults</small>
        </h1>
      </header>
      <main ng-controller="MainCtrl as mainCtrl">
        <div class="row">
          <div class="col-sm-4">
            <form ng-submit="mainCtrl.calculateBMI()">
              <fieldset>
                <legend>Weight</legend>
                <div class="form-group">
                  <label for="weight--lb">lb</label>
                  <input class="form-control" id="weight--lb" ng-blur="mainCtrl.validateForm()" ng-model="mainCtrl.standard.lb" required type="number">
                </div>
              </fieldset>
              <fieldset>
                <legend>Height</legend>
                <div class="form-group">
                  <label for="height--ft">ft</label>
                  <input class="form-control" id="height--ft" ng-blur="mainCtrl.validateForm()" ng-model="mainCtrl.standard.ft" required type="number">
                </div>
                <div class="form-group">
                  <label for="height--in">in</label>
                  <input class="form-control" id="height--in" ng-blur="mainCtrl.validateForm()" ng-model="mainCtrl.standard.in" required type="number">
                </div>
              </fieldset>
              <div class="form-group">
                <input class="btn btn-primary" ng-disabled="!mainCtrl.isValidForm" type="submit" value="Calculate">
              </div>
            </form>
          </div>
          <div class="col-sm-4">
            <div class="jumbotron">
              <span ng-show="mainCtrl.bmi">Your BMI is <span ng-bind="mainCtrl.bmi"></span>.</span>
              <span ng-show="!mainCtrl.bmi">Enter your vital statistics!</span>
            </div>
          </div>
          <div class="col-sm-4">
            <table class="table">
              <thead>
              <tr>
                <th>Index</th>
                <th>Date</th>
                <th>Mode</th>
                <th>BMI</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="calculation in mainCtrl.calculations">
                <td ng-bind="$index"></td>
                <td ng-bind="calculation.date"></td>
                <td ng-bind="calculation.mode"></td>
                <td ng-bind="calculation.bmi"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <footer>
        <small>Sources: US National Institute of Health, EXTOXNET</small>
      </footer>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>
</html>
