<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Form</h2>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="parentForm" ng-submit="ctrl.saveBMI(ctrl.model)">
        <div
          class="form-group"
          ng-class="ctrl.getHelpBlock(parentForm.mode.$error).className"
        >
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input
                  name="mode"
                  ng-model="ctrl.model.mode"
                  required="ctrl.isMode('standard')"
                  type="radio"
                  value="standard"
                >
                Standard
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input
                  name="mode"
                  ng-model="ctrl.model.mode"
                  required="ctrl.isMode('metric')"
                  type="radio"
                  value="metric"
                >
                Metric
              </label>
            </div>
          </div>
          <div class="col-sm-12">
            <span
              class="help-block"
              ng-bind="ctrl.getHelpBlock(parentForm.mode.$error).msg"
              ng-show="ctrl.showHelpBlock(parentForm.mode.$error)"
            >
            </span>
          </div>
        </div>
        <child-form
          ng-repeat="childForm in ctrl.forms"
          child-form="childForm"
          ctrl="ctrl"
          parent-form="parentForm"
        >
        </child-form>
        <div class="form-group">
          <div class="col-sm-12">
            <input
              class="btn btn-primary pull-right"
              ng-disabled="parentForm.$invalid"
              type="submit"
              value="Save"
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">List</h2>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Time ago</th>
          <th>BMI</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.filteredList">
          <td>
            <a href="#!/list/{{item.id}}" ng-bind="item.id"></a>
          </td>
          <td ng-bind="item.timeAgo"></td>
          <td ng-bind="item.bmi"></td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <button class="btn btn-default center-block" ng-click="ctrl.showMoreItems()" ng-disabled="ctrl.noMoreItems()">Show more</button>
      </div>
    </div>
  </div>
</div>
